source https://nuget.org/api/v2

nuget FSharp.Formatting
nuget XUnit
nuget XUnit.Runners
nuget Nuget.CommandLine
nuget FAKE
nuget SourceLink.Fake
nuget Serilog
nuget Metrics.NET
nuget FSharpx.Collections
nuget FSharpx.Core
nuget Unquote
nuget FsCheck
nuget FsCheck.Xunit
nuget FsUnit.Xunit
nuget EventStore.Client
nuget FSharpx
nuget FSharp.Data

github fsharp/FAKE modules/Octokit/Octokit.fsx