source https://nuget.org/api/v2

nuget FSharp.Formatting
nuget XUnit
nuget XUnit.Runners
nuget Nuget.CommandLine
nuget FAKE
nuget SourceLink.Fake
nuget Serilog
nuget Metrics.NET
nuget FSharpx.Collections
nuget FSharpx.Core
nuget Unquote
nuget FsCheck
nuget FsCheck.Xunit
nuget FsUnit.Xunit
nuget EventStore.Client
nuget FSharpx
nuget FSharp.Data
nuget RavenDB.Client ~> 2.5.2935
nuget RavenDB.Client
nuget FSharp.Collections.ParallelSeq
github dgchurchill/Neo4jClient (3a8842c4c573238ec6459be46b65717c2d0dace5)
github fsharp/FAKE modules/Octokit/Octokit.fsx